<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <body>
        <p>
            NOTE Mobile is different from PC. For best performance run on PC. <br> <br>
            <a href="calculator/">calculator</a><br>
            <br>
            <a href="javascript:history.back()">Back</a> <br>
        </p>
        <p id="output">

        </p>
        <script>
            function sayHello() {
                alert("Hello "+document.cookie)
            }

        </script>
    </body>
</html>