<!DOCTYPE html>
<html>
    <body>
        <p>
            NOTE Mobile is different from PC. For best performance run on PC. <br>
            Enter your name<br>
            <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10"><br>
            <button type="button" onclick=Getname()>Add Name</button><br>
            <button type="button" onclick=sayHello()>Say Hello</button><br>
            <a href="calculator/">calculator</a><br>
        </p>
        <p id="output">

        </p>
        <script>
            function sayHello() {
                alert("Hello "+document.cookie)
            }
            function Getname() {
                name = document.getElementById("name").value;
                document.cookie = name,"=", "name" + ";" + "maxage=600";
                let x = document.cookie;
                let decodedCookie = decodeURIComponent(document.cookie);
                alert("Hello "+decodedCookie+" When every you referesh the website for the next ten minutes, it will greet you by your name")
            }
        </script>
    </body>
</html>